/* first page */
.introContainer {
    background-color: #50bd53;
    color: white;
    .titleWrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 200px;

        .titleContent {
            display: flex;
            flex-direction:column;
            font-size: 20px;

            .title {
                font-size: 1.4em;
            }
        }

        .titleCharacter {
            width: 150px;
            height: 150px;

            img {
                border-radius: 50%;
            }
        }
    }
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
